<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="root :: stdheader('Home', ~{})"></head>
<body th:replace="root :: stdbody('Home', ~{::div}, ~{::script})">


<div>
    <div>
        <button th:if="${canStartFeeding}" type="button" class="btn" onclick="startFeeding()">Start Feeding</button>
        <button th:if="${canStopFeeding}" type="button" class="btn" onclick="stopFeeding()">Stop Feeding</button>
    </div>
    <p>
        <br>
        Today's total output:
        <span th:if="${todayOutput != null}" th:text="${todayOutput.totalWeight}"></span>
        <span th:if="${todayOutput == null}">No outputs yet :'(</span>
        <br>
        Vigantol today:
        <span class="vigantol-ok" th:if="${hasVigantol}" th:text="${vigantolMessage}"></span>
        <span class="vigantol-fail" th:if="${!hasVigantol}" th:text="${vigantolMessage}"></span>
        <br>
        Temperature today:
        <span class="temp-ok" th:if="${hasTemperature}" th:text="${temperatureMessage}"></span>
        <span class="temp-fail" th:if="${!hasTemperature}" th:text="${temperatureMessage}"></span>
    </p>
    <p th:if="${lowPampers}" class="low-pampers">Low pampers amount!</p>
    <p th:if="${lowWipes}" class="low-wipes">Low wipe amount!</p>
</div>

<script language="JavaScript">
    function startFeeding() {
        location.replace("/inputs/start");
    }
    function stopFeeding() {
        location.replace("/inputs/stop");
    }
</script>
</body>
</html>