<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="root :: stdheader('Temperature', ~{})"></head>
<body th:replace="root :: stdbody('Temperature', ~{::div}, ~{})">
<div>

    <p>
        <a th:href="@{/temp/addForm}">New</a>
    </p>
    <table class="table">
        <tr>
            <th>Time</th>
            <th>Temperature</th>
            <th>Comment</th>
        </tr>

        <tr class="data-table-row" th:each="item : ${items}">
            <td>
                <a th:href="@{/temp/editForm/{id}(id=${item.id})}" th:text="${#temporals.format(item.temperatureTime, 'dd-MMM-yyyy HH:mm')}"></a>
            </td>
            <td th:text="${item.temperature}"></td>
            <td th:text="${item.comment}"></td>
        </tr>

    </table>

    <a th:if="${hasLessPages}" th:href="@{/temp/list?page={page}(page=${prevPage})}">Prev</a>
    <a th:if="${hasMorePages}" th:href="@{/temp/list?page={page}(page=${nextPage})}">Next</a>

</div>


</body>
</html>
